.cart-quantity {
  max-width: 3rem;
}

.cart-container {
  margin: auto;
  flex-wrap: wrap;
}

.cart-price {
  background-color: var(--white);
  max-width: 30rem;
}

.cart-price .list li {
  display: flex;
  justify-content: space-between;
}

.btn-grey {
  color: var(--text-color);
}
